[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb.git
[submodule "libs/vk-mem-alloc"]
	path = libs/vk-mem-alloc
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
